h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  min-width: 16rem;
  width: 100%;
  margin-bottom: 1rem;
}

.search {
  width: 90%;
}

.search-field {
  width: 100%;
}

.card-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 1rem;
  min-width: 16rem;
  width: 100%;
  border: black solid 1px;
  border-radius: 0.25rem;
}
